html, body, #map {
  height: 100%;
  margin: 0;
  background-color: #101010;
  font-family: Helvetica;
  font-weight: 800;
}

.leaflet-tile {
  filter: grayscale(100%) brightness(70%);
}

p, h1, a  {
  color: white;
  text-decoration: none;
  align-self: center;
}

.topbar {
  cursor: pointer;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

#title {
  font-size: 3rem;
}

#top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.right {
  flex-direction: row;
  display: flex;
  gap: 3rem;
}

.slogan {
  border: white;
  border: solid 2px;
  width: fit-content;
  padding: 1em;
  border-radius: .5em;
  align-self: baseline;
}

#bonk {
  display: flex;
  justify-content: space-between;
}

#top, #main {
  padding: 2.5em 5em 0 5em;
  flex-direction: column;
}

#icon {
  height: 3rem;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#sampleMap {
  width: 80em;
}

#mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 2rem;
}

button {
  padding: 1rem;
  background-color: white;
  color: #101010;
  font-weight: 800;
  border-radius: .5rem;
  font-size: 1rem;
  margin-bottom: 1em;
  cursor: pointer;
}

.centered {
  display: flex;
  align-items: center;
}

#main {
  flex-direction: column;
}

label {
  color: white;
}

select {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  border-radius: .5rem;
  font-weight: 800;
}

#header {
  
  padding-top: 4em;
}